{% extends "_profile_layout.html" %}
{% set active_page = "profile" %}

{% block title %}
<title>Bluedit - Profile</title>
{% endblock %}


{% block head_script %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile_default.css') }}">
{% endblock %}


{% block body %}
<section class="container">
    <section class="row">
        <section class="col">
            <h4 style="margin-top:5vh;">My Upvotes:</h4>

            <hr style="height:1px;border:none;color:#333;background-color:#333;"/>

            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-light" onclick="redirect_post();">View Upvoted Post</button>
                <button type="button" class="btn btn-secondary">View Upvoted Reply</button>
            </div>

            {% if replies != None %}
            {% for reply in replies %}
            <div id="{{ reply[0] }}">
                <div class="card card-main-design" tabindex="-1">
                    <div class="card-body">
                        <h6>Reply to: <a href="{{ url_for('post_bp.post_data', postid=reply[2]) }}">{{ reply[5] }} - {{
                            reply[6] }}</a></h6>
                        <hr/>
                        <p class="text-muted" style="font-size: 10px;">Replied on: {{ reply[3] }}</p>
                        <p>{{ reply[1] }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-3" style="margin: 0;">
                                {% if reply[7] == current_user.name %}
                                <span class="badge badge-pill badge-secondary">Likes: {{ reply[4] }}</span>
                                {% else %}
                                {% if reply[0] in r_likes %}
                                <span class="badge badge-pill badge-success card_body_interaction"
                                      onclick="reply_like(this, '{{ reply[0] }}', '{{ csrf_token() }}');">Likes: {{ reply[4] }}</span>
                                {% else %}
                                <span class="badge badge-pill badge-secondary card_body_interaction"
                                      onclick="reply_like(this, '{{ reply[0] }}', '{{ csrf_token() }}');">Likes: {{ reply[4] }}</span>
                                {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-9 text-right">
                                <span class="badge badge-pill badge-danger card_body_interaction">Report</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
            {% else %}

            <div class="card card-main-design" tabindex="-1">
                <div class="card-body">
                    <h5>You have not upvoted any reply yet</h5>
                </div>
            </div>
            {% endif %}
        </section>
    </section>
</section>

<button onclick="topFunction()" id="fabutton" title="Go to top">Top</button>
{% endblock %}

{% block body_script %}
<script src="{{url_for('static', filename='js/fab_button.js')}}"></script>
<script src="{{url_for('static', filename='js/post_button_handler.js')}}"></script>
<script src="{{url_for('static', filename='js/profile_upvote.js')}}"></script>
{% endblock %}
