<p>
    <b>A very warm welcome to you for joining our Bluedit Community</b>
    <br/>
    Please click <a href="{{ confirm_url }}">here</a> to complete your account registration.
    <br/>
    <br/>
    <br/>
    <b>If this wasn't you</b>
    <br/>
    Your email address may have been used by others to create an account in our Bluedit application. Kindly ignore this mail as the account created with this email will be remove from our system soon if it remains unverified.
    <br/>
    <br/>
    Cheers,
    <br/>
    Bluedit Account Protection Team.
</p>