{% extends "_auth_layout.html" %}

{% block title %}
<title>Bluedit - Forget Password</title>
{% endblock %}

{% block head_script %}
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/auth_login.css') }}">-->
{% endblock %}

{% block body %}
<section class="container-fluid">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">

            <form class="form-container" id="forget_form" method="POST"
                  action="{{ url_for('auth_bp.forget_password') }}">

                <a href="{{ url_for('auth_bp.login') }}">&#8592; Back to login</a>

                <br>
                <hr>

                <img src="{{ url_for('static', filename='images/Bluedit-logo.png') }}" alt="Bluedit Logo">

                <hr>

                <div class="alert {{ status[2] }} alert-dismissible fade show" id="error-alert" role="alert" style="display: {{ status[0] }}">
                    <b>{{ status[1] }}</b>
                </div>

                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <div class="form-group input-container">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="email" class="form-control" id="email" name="email"
                               placeholder="Enter Email Address" required>
                    </div>
                    <small id="reset_tips" class="form-text text-muted">A link will only be generated and sent if the
                        email matches the emails in our database.</small>
                </div>

                <div class="form-group input-container">
                    {{ recaptcha }}
                </div>

                <div class="form-group input-container">
                    <button type="button" id="forget_button" class="btn btn-primary btn-block"
                            onclick="forget_handler()">Send reset link
                    </button>
                </div>

            </form>

        </section>
    </section>
</section>
{% endblock %}

{% block body_script %}
<script src="{{url_for('static', filename='js/validator.js')}}"></script>
<script src="{{url_for('static', filename='js/auth_forget_password.js')}}"></script>
{% endblock %}